
<div class="row text-center">
<div class="col-12 col-sm">

	<h1>Welcome To TRAVPad!!!</h1>
	<h2>Where Organizing Your Group Vacation Is Easy</h2>
</div>
</div>

<br />
<br />

<%= link_to messages_path do %>
<button type="button" class="btn btn-primary btn-lg btn-block">Let's Start The Party</button>
<% end %>
<button type="button" class="btn btn-secondary btn-lg btn-block">Join A Party</button>



